* {
  margin: 0; /*for sticky footer*/
}
html {
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}
body {
  height: 100%;
  min-height: 100%;
  background-color: orchid; /*for browsers that don't support the linear-gradient property*/
  background-image: linear-gradient(white, lavender, plum, orchid);
  background-repeat: no-repeat;
}
.center {
  text-align: center;
}
#title {
  font-size: 30px;
}
#date-created {
  font-size: 18px;
  margin: 10px;
}
#header {
  font-family: cursive;
  font-family: 'Amatic SC', cursive;
}
#header > h1 {
  font-weight: bold;
  margin: 10px 0px;
  font-size: 60px;
}
#header > p {
  font-weight: bold;
  margin: 5px 0px;
  font-size: 30px;
}
img {
  height: 225px;
  width: 225px;
}
nav {
  padding: 15px;
  width: 550px;
  margin: 0 auto;
}
.nav-item {
  list-style: none;
  display: inline;
  font-size: 25px;
  font-weight: bold;
  background-color: lightgrey;
  margin: 15px;
  padding: 4px;
  border-style: solid;
  border-radius: 12px;
  border-color: grey;
}
#home {
  padding: 25px;
}
#home > h1 {
  font-size: 45px;
}
.nav-item > a:link, a:visited {
  text-decoration: none;
}
a:link, a:visited {
  color: black;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.footer, .push {
  font-size: 20px;
  font-weight: bolder;
  height: 4em;
}
